button {
    background: #202124;
    border: none;
    aspect-ratio: 1/1;
    font-size: 6vw;
    cursor: pointer;
}

button.first-player {
    color: #f19766;
}

button.second-player {
    color: #5daed6;
}