* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background: #202124;
  color: #fff;
}

p {
  margin-bottom: 10px;
}

p.first-player {
  color: #f19766;
  transition: 0.3s all;
}

p.second-player {
  color: #5daed6;
}

p.restart:hover {
  cursor: pointer;
}

p.restart:hover {
  color: #98a8b8;
  transition: 0.3s all;
}

.board {
  width: 35%;
  background: #6c7884;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width:739px) {


  .board {
    width: 70%;
    gap: 2px;
  }
}